.cell {
  width: 100px;
  height: 100px;
  font-size: 3rem;
  font-weight: bold;
  border: 2px solid #16213e;
  background-color: #0f3460;
  color: #eaeaea;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell:hover:not(:disabled) {
  background-color: #1a4a7a;
  transform: scale(1.02);
}

.cell:focus {
  outline: 3px solid #e94560;
  outline-offset: -3px;
}

.cell--x {
  color: #e94560;
}

.cell--o {
  color: #0cc0df;
}

.cell--disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.cell:disabled {
  cursor: not-allowed;
}
